extends ../layout

block content
  ul.resto-tiles(data-json=restaurants)
    for restaurant in restaurants
      li.resto-tile(id=restaurant._id)
        header.tile-header
          .resto-image
            img(src=restaurant.photoURL || '/img/sample.png')
            a(href="/restaurants/#{restaurant._id}")
              h3.resto-name= restaurant.name
        .wait-color
        .contents
          h4.wait-time
            i.icon-time
            | 15-30min
          .rating-wrapper
            hr
            span.rating-title.mini-title Wait Breakdown
            .ratings
              .rating-bar
                .stripes
                .range.none(data-option=1)
                .range.short(data-option=2)
                .range.long(data-option=3)
                .range.full(data-option=4)
            hr
          .info
            .link-buttons
              ul.links.unstyled
                li.link
                  a(data-behavior="map").btn.btn-small.map
                    i.icon-map-marker
                    |  1.2 miles
                li.link
                  a(data-behavior="website").btn.btn-small.website
                    i.icon-link
                    |  Website
                li.link
                  a(data-behavior="call", href="tel:1-504-123-3456").btn.btn-small.call
                    i.icon-phone
                    |  504.123.4567
            .details
              p.cuisine
                | Seafood, Sandwiches, Po-boys
              //- p.description
              //-   | For over 100 years, Acme has been satisfying the hungriest of people all
              //-   | over the world! It's quality you can taste in the fresh... more »
        footer.tile-footer
          .choices-title.mini-title How Long's The Wait?
          .choices
            a(href="#", data-option=1).btn.none
              i.icon-none-circle
              | None
            a(href="#", data-option=2).btn.short
              i.icon-short-circle
              | Short
            a(href="#", data-option=3).btn.long
              i.icon-long-circle
              | Long
            a(href="#", data-option=4).btn.full
              i.icon-full-circle
              | Full


  //- form.form-inline(action='/restaurants/', method='post')
  //-   .control-group
  //-     label.control-label Name
  //-     .controls
  //-       input(name='name', type='text', placeholder='Name')
  //-   .control-group
  //-     label.control-label Photo URL
  //-     .controls
  //-       input(name='photoURL', type='text', placeholder='Photo URL')
  //-   .control-group
  //-     label.control-label Phone
  //-     .controls
  //-       input(name='phone', type='text', placeholder='Phone')



  //-   button.btn.btn-primary Update

