extends ../layout

block content
  ul.resto-tiles(data-json=restaurants)
    for restaurant in restaurants
      li.resto-tile(id=restaurant._id)
        header.tile-header
          .resto-image
            img(src=restaurant.photoURL || '/img/sample.png')
            a(href="/restaurants/#{restaurant._id}")
              h3.resto-name= restaurant.name
        .contents
          h4.wait-time 15-30min wait
          .info
            .details
              p.description
                | For over 100 years, Acme has been satisfying the hungriest of people all
                | over the world! It's quality you can taste in the fresh... more »

              p.address
                | 724 Iberville Street
                br
                | 504.522.5973
            .links
              ul.unstyled
                li.link
                  a(data-behavior="map").btn.btn-small.map
                    i.icon-map-marker
                    |  1.2 miles
                li.link
                  a(data-behavior="website").btn.btn-small.website
                    i.icon-link
                    |  Website
                li.link
                  a(data-behavior="call").btn.btn-small.call
                    i.icon-phone
                    |  Call Now
            .rating-wrapper
        h4.rating-title
        .ratings
          .rating-bar
            .stripes
            .range.no-wait(data-option=1)
            .range.short-wait(data-option=2)
            .range.long-wait(data-option=3)
            .range.unknown(data-option=4)
        footer.tile-footer
          .choices
            a(href="#", data-option=1).btn.btn-small. No Wait
            a(href="#", data-option=2).btn.btn-small.short-wait Shore Wait
            a(href="#", data-option=3).btn.btn-small.long-wait Long Wait
            a(href="#", data-option=4).btn.btn-small.unknown Unknown


  form.form-inline(action='/restaurants/', method='post')
    .control-group
      label.control-label Name
      .controls
        input(name='name', type='text', placeholder='Name')
    .control-group
      label.control-label Photo URL
      .controls
        input(name='photoURL', type='text', placeholder='Photo URL')
    .control-group
      label.control-label Phone
      .controls
        input(name='phone', type='text', placeholder='Phone')



    button.btn.btn-primary Update

