li.resto-tile(id=_id)
  header.tile-header
    .resto-image
      img(src="http://www.neworleansonline.com/images/eatnownola/" + tourismBoard.placeID + ".jpg")
      a(href="/restaurants/#{slug ? slug : _id}")
        h3.resto-name= tourismBoard.name1
      .link-buttons
        ul.links.unstyled
          li.link
            a(data-behavior="map", href="http://maps.google.com/?q=#{tourismBoard.address1} #{tourismBoard.city} #{tourismBoard.zipCode}").btn.btn-small.map
              i.icon-map-marker
              |  Map
          li.link
            if (tourismBoard.url)
              a(data-behavior="website", href="http://#{tourismBoard.url}", target="_blank").btn.btn-small.website
                i.icon-link
                  |  Website
            else
              a(data-behavior="website", href="http://www.neworleansonline.com/directory/location.php?locationID=#{tourismBoard.placeID}", target="_blank").btn.btn-small.website
                i.icon-link
                  |  Website
          li.link
            a(data-behavior="call", href="tel:+1#{tourismBoard.phone ? tourismBoard.phone.replace(/[^0-9]/gi, '') : tourismBoard.phone}").btn.btn-small.call
              i.icon-phone
              |  #{tourismBoard.phone}
  .wait-color(data-behavior="wait-color")

  .contents
    h4.wait-time
      i.icon-time
      span.time-text 15-30min
    hr
    .cuisine-tags
      span= tourismBoard.cuisines.slice(0,3).join(", ")
    hr
    .stats-wrapper
      .info
        .details
          if (tourismBoard.description)
            p.description= tourismBoard.description
          else
            p.description
             | To find out more information about this restaurant, please click the
             | "read more" button below to go straight to the restaurant's website.
        .read-more
            a.btn Read more...
      //- a.toggle-graph-btn.mini-title.closed.btn
      //-   span.btn-text View Votes
      //-   i.icon-chevron-up
      .graph-wrapper
        p.need-info
          | We do not have enough information to verify the wait time yet.
          | Send us your votes if you have visited this restaurant recently.

        ul.graph
          li.bar-wrapper
            .bar.none(data-option=1)
          li.bar-wrapper
            .bar.short(data-option=2)
          li.bar-wrapper
            .bar.long(data-option=3)
          li.bar-wrapper
            .bar.full(data-option=4)
        hr
        ul.graph-labels
          li.label None
          li.label Short
          li.label Long
          li.label Full

  footer.tile-footer
    span.resto-verified
      i.icon-ok-circle
      | Verified By Restaurant

    .vote-wrapper
      .choices
        a(href="#", data-option=1).btn.none
          i.icon-none-circle
          | None
        a(href="#", data-option=2).btn.short
          i.icon-short-circle
          | Short
        a(href="#", data-option=3).btn.long
          i.icon-long-circle
          | Long
        a(href="#", data-option=4).btn.full
          i.icon-full-circle
          | Full
